<div class="movies">
  <form>
    <label>
      Title
      {{input value=movie.title class="form-input name"}}
    </label>

    <label>
      Rating
      {{input value=movie.rating class="form-input rating"}}
    </label>

    <label>
      Trailer
      {{input value=movie.rating class="form-input trailer"}}
    </label>

    <button {{action "saveMovie"}} class="form-submit">Save</button>
  </form>

  <section class="movies-list">
    {{#each model as |movie|}}
      <article class="movie">
        <span class="title">Name: {{movie.name}}</span>
        <span class="rating">Rating: {{movie.rating}}</span>
        <span class="trailer-link">Trailer: {{movie.trailerLink}}</span>
      </article>
    {{/each}}
  </section>
</div>
